.contact-main-wrap{
  margin: rem-calc(45px) auto rem-calc(40px);
  width: 100%;
  max-width: rem-calc(1162px);
  @include media-breakpoint-up(md) {
    margin: 85px auto;
  }
  .contact-main-inner{
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .contact-single-col{
    -webkit-flex-basis: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 0 rem-calc(7.5px);
    @include media-breakpoint-up(md) {
      padding: 0 rem-calc(7.5px);
    }
    @include media-breakpoint-up(xl) {
      padding: 0 rem-calc(13.5px);
    }
    &:nth-of-type(1){
      .cnt-sing-col-desc{
        background: $primary-color;
        color: #FFF;
        
        .contact-pg-icon{
          color: #000;
        }
      }
    }
    &:nth-of-type(2){
      .cnt-sing-col-desc{
        background: #F7F4EF;
        color: #000;
        
        .contact-pg-icon{
          color: $primary-color;
        }
      }
    }
    &:nth-of-type(3){
      .cnt-sing-col-desc{
        background: #2F3544;
        color: #FFF;
        
        .contact-pg-icon{
          color: $primary-color;
        }
      }
    }
    .cnt-sing-col-img{
      position: relative;
      overflow: hidden;
      @include media-breakpoint-up(md) {
        height: 31vw;
      }
      @include media-breakpoint-up(xl) {
        height: rem-calc(360px);
      }
      + .cnt-sing-col-desc{
        margin-top: 0;
        @include media-breakpoint-up(md) {
          margin-top: rem-calc(15px);
        }
        @include media-breakpoint-up(xl) {
          margin-top: rem-calc(25px);
        }
      }

      img{
        object-fit: cover;
        width: 100%;
        @include media-breakpoint-up(md) {
          height: 100%;
        }
      }
    }
    .cnt-sing-col-desc{
      display: block;
      width: 100%;
      padding: rem-calc(30px 20px);
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      text-align: center;
      @include media-breakpoint-down(sm) {
        display: none;
      }
      @include media-breakpoint-up(md) {
        height: 31vw;
      }
      @include media-breakpoint-up(xl) {
        height: rem-calc(360px);
      }
      + .cnt-sing-col-img{
        margin-top: 0;
        @include media-breakpoint-up(md) {
          margin-top: rem-calc(15px);
        }
        @include media-breakpoint-up(xl) {
          margin-top: rem-calc(25px);
        }
      }
      .cnt-sing-col-dw-wrap{
        display: block;
        width: 100%;
        font-size: rem-calc(40px);
        line-height: 1;
        margin-bottom: rem-calc(22px);
        margin-top: auto;
        @include media-breakpoint-up(md) {
          font-size: rem-calc(30px);
          margin-bottom: rem-calc(12px);
        }
        @include media-breakpoint-up(xl) {
          font-size: rem-calc(40px);
          margin-bottom: rem-calc(22px);
        }
      }
      .contact-pg-dtl-wrap{
        margin-top: 0;
        margin-bottom: auto;
      }
      .contact-pg-title{
        font-size: rem-calc(38px);
        line-height: rem-calc(50px);
        font-weight: 600;
        margin-bottom: rem-calc(15px);
        @include media-breakpoint-up(md) {
          font-size: rem-calc(24px);
          line-height: rem-calc(36px);
        }
        @include media-breakpoint-up(xl) {
          font-size: rem-calc(38px);
          line-height: rem-calc(50px);
        }
      }
      .contact-desc-list{
        font-size: rem-calc(20px);
        line-height: rem-calc(26px);
        margin-bottom: rem-calc(20px);
        @include media-breakpoint-up(md) {
          font-size: rem-calc(16px);
          line-height: rem-calc(22px);
          margin-bottom: rem-calc(10px);
        }
        @include media-breakpoint-up(xl) {
          font-size: rem-calc(20px);
          line-height: rem-calc(26px);
          margin-bottom: rem-calc(20px);
        }
        a{
          color: #FFF;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  .contact-dtls-wrap-mob{
    margin-top: rem-calc(40px);
    padding: 0 rem-calc(38px);
    .cnt-sing-col-desc{
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      margin-bottom: rem-calc(20px);
      width: 100%;
      &:last-of-type{
        margin-bottom: 0;
      }
      a{
        color: #000;
        text-decoration: none;
      }
    }
    .cnt-sing-col-dw-wrap{
      -webkit-flex-basis: rem-calc(33px);
      flex-basis: rem-calc(33px);
      max-width: rem-calc(33px);
      padding-right: rem-calc(13px);
      font-size: rem-calc(18px);
      color: $primary-color;
      padding-top: rem-calc(3px);
    }
    .contact-pg-dtl-wrap{
      -webkit-flex-basis: calc(100% - #{ rem-calc(33px) });
      flex-basis: calc(100% - #{ rem-calc(33px) });
      max-width: calc(100% - #{ rem-calc(33px) });
    }
    .contact-pg-title{
      font-size: rem-calc(21px);
      line-height: rem-calc(27.5px);
      font-weight: 600;
      color: #2F3544;
      margin-bottom: rem-calc(5px);
    }
    .contact-desc-list{
      font-size: rem-calc(13px);
      line-height: rem-calc(17px);
      margin-bottom: rem-calc(7px);
    }
  }
  
}