.contact-page {
  #main {
    >.woocommerce-breadcrumb {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

.form-info-text {
  font-size: rem-calc(11px);
  display: block;

  @include media-breakpoint-up(md) {
    font-size: 12px;
  }
}

.contact-container {
  overflow: hidden;

  @include media-breakpoint-up(md) {
    padding: rem-calc(18px) 0 0;
  }

  @include media-breakpoint-up(lg) {
    padding-top: rem-calc(28px);
  }

  @include media-breakpoint-up(xl) {
    padding-top: rem-calc(38px);
  }

  .container {
    @include media-breakpoint-up(xl) {
      max-width: 1068px;
    }
  }

  .input-text {
    display: block;
    width: 100%;
    font-size: rem-calc(12px);
    line-height: 1.5;
    border: 1px solid #000;
    border-width: 0 0 1px;
    background: #fff;
    outline: none;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    color: #000;
    height: calc(#{rem-calc(41px)} + 1px);
    padding: rem-calc(11px) 0;

    @include media-breakpoint-up(md) {
      font-size: 14px;
      height: 42px;
      padding: 10px 0;
    }

    @include media-breakpoint-up(lg) {
      font-size: 16px;
      height: 47px;
      padding: 11px 0;
    }

    @include placeholder {
      color: #000;
    }
  }

  textarea.input-text {
    min-height: rem-calc(120px);

    @include media-breakpoint-up(md) {
      min-height: 140px;
    }
  }
}

.contact-top-section {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-bottom: 33px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 53px;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 73px;
  }

  .img-wrap {
    @include media-breakpoint-up(md) {
      flex-basis: 43.834297%;
      max-width: 43.834297%;
    }

    @include media-breakpoint-down(sm) {
      margin: 0 rem-calc(-10px 2px);
    }

    img {
      width: 100%;
    }
  }

  .contact-info-box {
    font-size: rem-calc(12px);
    line-height: 1.25;
    padding: rem-calc(14px 0 42px);

    @include media-breakpoint-up(md) {
      font-size: 14px;
      flex-basis: 56.165703%;
      max-width: 56.165703%;
      padding: 0 0 0 20px;
      align-self: center;
    }

    @include media-breakpoint-up(lg) {
      font-size: 16px;
      padding-left: 30px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 18px;
      line-height: 22px;
      padding-left: 44px;
    }

    .col-6 {
      padding-right: 20px;
      padding-top: rem-calc(4px);

      &:nth-child(2n+1) {
        border-left: 1px solid #000;
      }

      @include media-breakpoint-up(md) {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 3px;
      }

      @include media-breakpoint-up(lg) {
        padding-left: 35px;
        padding-right: 35px;
      }

      @include media-breakpoint-up(xl) {
        padding-left: 45px;
        padding-right: 45px;
      }
    }

    ul {
      >li {
        padding: rem-calc(4px) 0;
      }
    }
  }

  h1 {
    text-align: center;
    font-size: rem-calc(23px);
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: rem-calc(24px);

    @include media-breakpoint-up(md) {
      font-size: 28px;
      margin-bottom: 24px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 32px;
      margin-bottom: 30px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 36px;
    }
  }

  h2 {
    font-size: rem-calc(18px);
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: rem-calc(11px);

    @include media-breakpoint-up(md) {
      font-size: 23px;
      margin-bottom: 5px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 28px;
      margin-bottom: 6px;
    }
  }
}

.contact-form-section {
  background: #F6F6F6;
  padding: 0 9999px;
  margin: 0 -9999px;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-bottom: 60px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 80px;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 101px;
  }

  @include media-breakpoint-down(sm) {
    border-bottom: 1px solid #000;
  }

  .banner-img {
    @include media-breakpoint-down(sm) {
      display: none;
    }

    @include media-breakpoint-up(md) {
      margin: -25px 0;
      flex-basis: 45%;
      max-width: 45%;
    }

    @include media-breakpoint-up(lg) {
      margin: -37px 0;
      flex-basis: 43.834297%;
      max-width: 43.834297%;
    }

    @include media-breakpoint-up(xl) {
      margin: -52px 0;
    }

    img {
      width: 100%;
    }
  }

  .form-wrap {
    padding: rem-calc(22px 12px 12px);

    @include media-breakpoint-up(md) {
      flex-basis: 55%;
      max-width: 55%;
      padding: 18px 26px 18px 0;
    }

    @include media-breakpoint-up(lg) {
      max-width: 460px;
      margin-right: auto;
      padding: 32px 30px 0 0;
      flex-basis: 56.165703%;
      max-width: 56.165703%;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 51px;
      max-width: 460px;
      margin-right: auto;
    }

    br {
      display: none;
    }

    .button {
      width: rem-calc(112px);
      display: block;
      margin: rem-calc(20px) auto 0;

      @include media-breakpoint-up(md) {
        margin-left: 0;
        width: 120px;
        margin-top: 18px;
      }

      @include media-breakpoint-up(lg) {
        width: 140px;
        margin-top: 24px;
      }
    }
  }

  h2 {
    font-size: rem-calc(18px);
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: rem-calc(9px);

    @include media-breakpoint-up(md) {
      font-size: 22px;
      margin-bottom: 10px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 26px;
      margin-bottom: 13px;
    }
  }

  .form-info-text {
    margin: 0 0 rem-calc(19px);

    @include media-breakpoint-up(md) {
      margin-bottom: 12px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 15px;
    }

    @include media-breakpoint-down(sm) {
      font-size: rem-calc(12px);
      line-height: 1.5;
    }
  }

  .form-row {
    margin: 0 rem-calc(-7.5px);

    @include media-breakpoint-up(md) {
      margin: 0 -10px;
    }

    >[class*="col-"] {
      padding: 0 rem-calc(7.5px);

      @include media-breakpoint-up(md) {
        padding: 0 10px;
      }
    }
  }

  .form-group {
    margin-bottom: rem-calc(10px);

    @include media-breakpoint-up(md) {
      margin-bottom: 18px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 23px;
    }
  }

  .input-text {
    background: none;
  }
}