.about-location-wrap {
  margin-top: rem-calc(30px);
  .studio-location & {
    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }
  @include media-breakpoint-up(md) {
    margin-top: rem-calc(85px);
  }
  .abt-loc-main {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-items: flex-end;
      align-items: flex-end;
    }
    @include media-breakpoint-down(sm) {
      .professional & {
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        max-width: unset;
      }
    }
  }
  .abt-loc-gallery {
    position: relative;
    @include media-breakpoint-up(md) {
      -webkit-flex-basis: 65%;
      flex-basis: 65%;
      max-width: 65%;
    }
    .bt-loc-single {
      img {
        width: 100%;
      }
    }
    .slick-dots {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: rem-calc(17px);
      li {
        margin: 0 4px;
        button {
          background: rgba(47, 53, 68, 0.3);
          @include box(8px);
        }
        &.slick-active {
          button {
            background: #fff;
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .professional & {
        width: 100%;
        -webkit-order: 2;
        -ms-order: 2;
        order: 2;
      }
    }
  }
  .abt-loc-desc-wrap {
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      -webkit-flex-basis: 35%;
      flex-basis: 35%;
      max-width: 35%;
    }
    .abt-loc-desc-inner {
      background: #fff;
      @include media-breakpoint-up(md) {
        margin-left: rem-calc(-130px);
        padding: rem-calc(35px 35px 27px);
      }
      @include media-breakpoint-down(sm) {
        margin-top: rem-calc(-39px);
        padding: rem-calc(20px 12px);
        width: 100%;
        max-width: rem-calc(263px);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .professional & {
          margin-top: 0;
          margin-bottom: rem-calc(-32.5px);
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .professional & {
        width: 100%;
        -webkit-order: 1;
        -ms-order: 1;
        order: 1;
      }
    }
  }
  .abt-loc-title {
    font-size: rem-calc(20px);
    line-height: rem-calc(30px);
    margin-bottom: rem-calc(10px);
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    @include media-breakpoint-up(md) {
      font-size: rem-calc(40px);
      line-height: rem-calc(60px);
      margin-bottom: rem-calc(18px);
    }
  }
  .abt-loc-add {
    font-size: rem-calc(15px);
    line-height: rem-calc(20px);
    margin-bottom: rem-calc(10px);
    font-weight: 600;
    @include media-breakpoint-up(md) {
      font-size: rem-calc(22px);
      line-height: rem-calc(29px);
      margin-bottom: rem-calc(20px);
    }
  }
  .abt-loc-para {
    font-size: rem-calc(12px);
    line-height: rem-calc(18px);
    margin-bottom: rem-calc(10px);
    @include media-breakpoint-up(md) {
      font-size: rem-calc(18px);
      line-height: rem-calc(28px);
      margin-bottom: rem-calc(20px);
    }
  }
  .abt-loc-btn-wrap {
    .btn {
      padding: 0 rem-calc(39px);
      @include media-breakpoint-up(md) {
        padding: 0 rem-calc(47px);
      }
    }
  }
}

.studio-sizes-wrap {
  margin-bottom: rem-calc(10px);
  @include media-breakpoint-up(md) {
    margin-bottom: rem-calc(85px);
  }
  .section-title {
    margin-bottom: rem-calc(20px);
    @include media-breakpoint-up(md) {
      margin-bottom: rem-calc(43px);
    }
  }
}
.std-sizes-inner {
  width: 100%;
  max-width: rem-calc(1205px);
  margin: 0 auto;

  .std-sizes-inner-wrap {
    @include media-breakpoint-up(md) {
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-left: rem-calc(-20px);
      margin-right: rem-calc(-20px);
    }
  }
  .std-sizes-single {
    width: 100%;
    padding: 0 rem-calc(40px);
    @include media-breakpoint-up(md) {
      -webkit-flex-basis: 33.33%;
      flex-basis: 33.33%;
      max-width: 33.33%;
      padding: 0 rem-calc(20px);
    }
    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-bottom: rem-calc(30px);
    }
  }
  .std-size-feat-img {
    img {
      width: 100%;
      @include media-breakpoint-down(sm) {
        max-height: rem-calc(142px);
        object-fit: cover;
      }
    }
    @include media-breakpoint-down(sm) {
      padding: 0 rem-calc(17px);
    }
  }
  .std-size-title {
    display: block;
    margin-top: rem-calc(12.5px);
    margin-bottom: rem-calc(7.5px);
    @include media-breakpoint-up(md) {
      margin-top: rem-calc(5px);
      margin-bottom: rem-calc(10px);
    }
    a {
      text-decoration: none;
      display: inline-flex;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .std-size-main {
      color: $primary-color;
      font-size: rem-calc(15px);
      font-weight: 600;
      margin-right: rem-calc(8px);
      @include media-breakpoint-up(md) {
        font-size: rem-calc(22px);
        margin-right: rem-calc(14px);
      }
    }
    .std-size-spc {
      color: #000000;
      font-size: rem-calc(12px);
      font-weight: 600;
      @include media-breakpoint-up(md) {
        font-size: rem-calc(18px);
      }
    }
  }
  .std-size-para {
    font-size: rem-calc(12px);
    line-height: rem-calc(18px);
    width: 100%;
    max-width: rem-calc(282px);
    @include media-breakpoint-up(md) {
      font-size: rem-calc(14px);
      line-height: rem-calc(22px);
    }
  }
}

.choose-plan-wrap {
  width: 100%;
  max-width: rem-calc(1190px);
  margin: 0 auto rem-calc(42px);
  position: relative;
  z-index: 1;
  @include media-breakpoint-up(md) {
    margin: 0 auto rem-calc(85px);
  }
  .section-title {
    margin-bottom: rem-calc(20px);
    @include media-breakpoint-up(md) {
      margin-bottom: rem-calc(45px);
    }
  }
  .chs-plan-inner-wrap {
    position: relative;
    @include media-breakpoint-up(md) {
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-left: rem-calc(-22.5px);
      margin-right: rem-calc(-22.5px);
    }
    .slick-track {
      display: flex !important;
    }
    .slick-slide {
      height: inherit !important;
      display: flex !important;
      justify-content: center;
      align-items: flex-start;
    }
  }
  .slick-dots {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: rem-calc(20px);
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      margin-top: 0;
    }
    li {
      button {
        @include box(rem-calc(5px));
        background: rgba(47, 53, 68, 0.3);
      }
      &.slick-active {
        @include box(rem-calc(6px));
        background: #000;
      }
    }
  }
  .chs-plan-single {
    padding: 0 rem-calc(12.5px 30px);
    -webkit-transition: ease-in-out transform 0.3s;
    -moz-transition: ease-in-out transform 0.3s;
    -ms-transition: ease-in-out transform 0.3s;
    -o-transition: ease-in-out transform 0.3s;
    transition: ease-in-out transform 0.3s;
    @include media-breakpoint-up(md) {
      padding: 0 rem-calc(22.5px);
      -webkit-flex-basis: 33.33%;
      flex-basis: 33.33%;
      max-width: 33.33%;
      &:hover {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px);
        .chs-plan-single-wrap {
          &:before {
            -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
            @include media-breakpoint-down(sm) {
              display: none;
            }
          }
        }
      }
    }
  }
  .chs-plan-single-wrap {
    // padding: rem-calc(23px 7px);
    text-align: center;
    position: relative;
    // z-index: 9;
    padding: 0;
    @include media-breakpoint-up(md) {
      padding: rem-calc(46px 39px 45px);
    }

    &.plansopen {
      padding: 0;
      height: 100%;
      .chs-star-wrap,
      .chs-title,
      .chs-desc,
      .chs-rate,
      .chs-btn-wrap {
        display: none;
      }
      .chs-dtl-plan {
        display: flex !important;
        height: 100%;
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        padding-bottom: 1px;
      }
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 12px;
      right: 17px;
      height: 100%;
      -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
      -webkit-transition: box-shadow 0.3s;
      -moz-transition: box-shadow 0.3s;
      -ms-transition: box-shadow 0.3s;
      -o-transition: box-shadow 0.3s;
      transition: box-shadow 0.3s;
      @include media-breakpoint-down(sm) {
        -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      }
    }
    .chs-star-wrap {
      font-size: rem-calc(14px);
      line-height: 1;
      display: block;
      margin-bottom: rem-calc(7.5px);
      @include media-breakpoint-up(md) {
        font-size: rem-calc(20px);
        margin-bottom: rem-calc(10px);
      }
      @include media-breakpoint-down(sm) {
        padding-top: 23px;
      }
      // @include media-breakpoint-down(sm) {
      //   display: none;
      // }
    }

    &.chs-basic-plan {
      background: #f7f4ef;
      color: #2f3544;
      .chs-star-wrap {
        color: $primary-color;
      }
      .chs-btn-wrap {
        a {
          color: #2f3544;
        }
      }
      .chs-dtl-plan-head {
        background: #f7f4ef;
      }
      .chs-dtl-price-btn {
        background: #f7f4ef;
        color: #000;
      }
    }
    &.chs-plus-plan {
      background: #dc9a77;
      color: #fff;
      .chs-star-wrap {
        color: #2f3544;
      }
      .chs-dtl-plan-head {
        background: #dc9a77;
      }
      .chs-dtl-tit {
        color: #fff;
      }
      .chs-dtl-star {
        color: #2f3544;
      }
      .chs-dtl-price-btn {
        background: $primary-color;
        color: #fff;
      }
    }
    &.chs-premium-plan {
      background: #2f3544;
      color: #fff;
      .chs-dtl-plan-head {
        background: #2f3544;
      }
      .chs-dtl-price-btn {
        background: #2f3544;
        color: #fff;
      }
      .chs-dtl-tit {
        color: #fff;
      }
      .chs-dtl-star {
        color: #fff;
      }
    }
    .chs-title {
      display: block;
      font-size: rem-calc(21px);
      line-height: rem-calc(28px);
      font-weight: 600;
      margin-bottom: rem-calc(7.5px);
      @include media-breakpoint-up(md) {
        font-size: rem-calc(42px);
        line-height: rem-calc(55px);
        margin-bottom: rem-calc(10px);
      }
      // @include media-breakpoint-down(sm) {
      //   display: none;
      // }
    }
    .chs-desc {
      display: block;
      font-size: rem-calc(12px);
      line-height: rem-calc(18px);
      margin-bottom: rem-calc(15px);
      max-height: rem-calc(42px);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      @include media-breakpoint-up(md) {
        font-size: rem-calc(14px);
        line-height: rem-calc(22px);
        margin-bottom: rem-calc(29px);
      }
      // @include media-breakpoint-down(sm) {
      //   display: none;
      // }
    }
    .chs-rate {
      display: block;
      font-size: rem-calc(13px);
      line-height: rem-calc(17px);
      margin-bottom: rem-calc(10px);
      font-weight: 600;
      @include media-breakpoint-up(md) {
        font-size: rem-calc(14px);
        line-height: rem-calc(18px);
        margin-bottom: rem-calc(31px);
      }
      .chs-price {
        font-size: rem-calc(16px);
        line-height: rem-calc(21px);
        display: inline-block;
        margin-left: 3px;
        @include media-breakpoint-up(md) {
          font-size: rem-calc(22px);
          line-height: rem-calc(29px);
        }
      }
      // @include media-breakpoint-down(sm) {
      //   display: none;
      // }
    }
    .chs-btn-wrap {
      display: inline-block;
      font-size: rem-calc(13px);
      line-height: rem-calc(17px);
      font-weight: 600;
      @include media-breakpoint-up(md) {
        font-size: rem-calc(18px);
        line-height: rem-calc(24px);
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 23px;
      }
      a {
        color: #fff;
        text-decoration: underline;
      }
      // @include media-breakpoint-down(sm) {
      //   display: none;
      // }
    }
  }
  .chs-dtl-plan {
    // position: absolute;
    z-index: 10;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    // display: none;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.16);
    // &:after{
    //   content: "";
    //   position: absolute;
    //   z-index: -1;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;

    // }
    @include media-breakpoint-up(md) {
      display: none;
    }
    @include media-breakpoint-down(sm) {
      // display: block !important;
      position: relative;
      display: none;
      padding-bottom: rem-calc(15px);
    }

    .chs-dtl-plan-head {
      height: rem-calc(59px);
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      @include media-breakpoint-down(sm) {
        height: rem-calc(32px);
      }
    }

    .chs-dtl-tit {
      font-size: rem-calc(16px);
      font-weight: 600;
      color: #2f3544;
      display: inline-block;
      vertical-align: middle;
      margin-right: rem-calc(6px);
      line-height: 1;
      @include media-breakpoint-up(md) {
        font-size: rem-calc(26px);
        margin-right: rem-calc(20px);
      }
    }
    .chs-dtl-star {
      font-size: rem-calc(9px);
      color: $primary-color;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      margin-top: 2px;
      @include media-breakpoint-up(md) {
        font-size: rem-calc(16px);
      }
    }
    .chs-dtl-plan-body {
      padding-top: rem-calc(4px);
      min-height: rem-calc(350px);
      margin-bottom: rem-calc(20px);
      @include media-breakpoint-up(md) {
        min-height: rem-calc(543px);
      }
      ul {
        @include clear-list;
        text-align: left;
        font-size: rem-calc(12px);
        line-height: rem-calc(16px);
        padding-left: rem-calc(27px);
        padding-right: rem-calc(8px);
        @include media-breakpoint-up(md) {
          font-size: rem-calc(14px);
          line-height: rem-calc(26px);
          padding-left: rem-calc(47px);
          padding-right: 15px;
        }

        li {
          position: relative;
          padding: 10px 0;
          border-bottom: 1px solid rgba(112, 112, 112, 0.5);
          color: #000;
          &:before {
            content: "\e91e";
            font-family: "icomoon" !important;
            font-size: rem-calc(7px);
            position: absolute;
            top: 10px;
            left: rem-calc(-18px);
            @include media-breakpoint-up(md) {
              font-size: rem-calc(10px);
              left: rem-calc(-30px);
              top: 10px;
            }
          }
          &.plus {
            color: $primary-color;
          }
          &.premium {
            color: #3b5eb4;
          }
        }
      }
    }
    .chs-dtl-plan-foot {
      // margin-top: rem-calc(20px);
      margin-top: auto;
      margin-bottom: rem-calc(17.5px);
      .chs-dtl-price {
        color: #000;
        font-size: rem-calc(13px);
        line-height: rem-calc(20px);
        font-weight: 600;
        margin-bottom: rem-calc(12px);
        @include media-breakpoint-up(md) {
          font-size: rem-calc(16px);
          line-height: rem-calc(21px);
          margin-bottom: rem-calc(22px);
        }
      }
      .chs-dtl-price-btn-wrap {
        .chs-dtl-price-btn {
          display: inline-flex;
          -webkit-align-items: center;
          align-items: center;
          height: rem-calc(34px);
          padding: 0 rem-calc(42px);
          font-size: rem-calc(13px);
          font-weight: 600;
          text-decoration: none;
          @include media-breakpoint-up(md) {
            height: rem-calc(46px);
            padding: 0 rem-calc(44px);
            font-size: rem-calc(16px);
          }
          &:hover {
            color: #fff;
            background: #000;
          }
        }
        @include media-breakpoint-up(md) {
          margin-bottom: rem-calc(20px);
        }
      }
    }
  }
}

.newsletter-n-contact-wrap {
  @include media-breakpoint-down(sm) {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.newsletter-wrap {
  margin-top: rem-calc(30px);
  position: relative;
  @include media-breakpoint-up(md) {
    margin-top: rem-calc(85px);
  }
  @include media-breakpoint-down(sm) {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
  }
  &.right {
    .newsletter-banner-desc-wrap {
      left: rem-calc(12px);
      top: rem-calc(11px);
      width: 100%;
      @include media-breakpoint-up(md) {
        left: unset;
        right: 15.5vw;
        max-width: rem-calc(422px);
        text-align: left;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      @include media-breakpoint-down(sm) {
        padding-right: rem-calc(7px);
      }
      .section-title {
        text-align: left;
      }
    }
    .newsletter-banner-img {
      &:after {
        background: rgba(0, 0, 0, 0.5);
      }
      // @include media-breakpoint-down(sm) {
      //   img{
      //     max-height: rem-calc(225px);
      //     object-fit: cover;
      //   }
      // }
    }
  }
}
.newsletter-banner-img {
  width: 100%;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.01);
  }
  img {
    width: 100%;
    @include media-breakpoint-down(sm) {
      min-height: rem-calc(260px);
    }
  }
}
.newsletter-banner-desc-wrap {
  position: absolute;
  top: rem-calc(40px);
  left: rem-calc(20px);
  width: 100%;
  max-width: rem-calc(290px);
  @include media-breakpoint-up(md) {
    top: rem-calc(75px);
    left: 7.84vw;
    max-width: rem-calc(533px);
  }

  .section-title {
    margin-bottom: rem-calc(7.5px);
    @include media-breakpoint-up(md) {
      margin-bottom: rem-calc(10px);
    }
    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }
  .newsletter-banner-para {
    color: #fff;
    font-size: rem-calc(12px);
    line-height: rem-calc(18px);
    margin-bottom: rem-calc(15px);
    @include media-breakpoint-up(md) {
      font-size: rem-calc(14px);
      line-height: rem-calc(22px);
      margin-bottom: rem-calc(28px);
    }
    @include media-breakpoint-down(sm) {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .input-wrap {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;

    // input[type="email"]
    .newsletter_email {
      flex-basis: calc(100% - #{rem-calc(71.5px)});
      max-width: calc(100% - #{rem-calc(71.5px)});

      @include media-breakpoint-up(md) {
        flex-basis: calc(100% - #{rem-calc(141px)});
        max-width: calc(100% - #{rem-calc(141px)});
      }
      input[type="email"] {
        font-size: rem-calc(12px);
        height: rem-calc(34px);
        color: #000;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;

        @include media-breakpoint-up(md) {
          font-size: rem-calc(14px);
          height: rem-calc(46px);
        }

        @include placeholder {
          color: #949494;
        }
        &:focus {
          outline: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          border: none;
        }
      }
    }
    // button.btn
    .btn-send {
      width: rem-calc(68px);
      height: rem-calc(34px);
      background: $primary-color;
      color: #fff;
      font-size: rem-calc(12px);
      font-weight: 600;
      border: 1px solid $primary-color;
      @include media-breakpoint-up(md) {
        width: rem-calc(131px);
        height: rem-calc(46px);
        font-size: rem-calc(16px);
      }
      &:hover {
        background: #fff;
        color: $primary-color;
      }
    }
    .wpcf7-not-valid-tip {
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(9px);
        margin-bottom: -13px;
      }
      @include media-breakpoint-up(md) {
        font-size: 14px;
      }
    }
    .ajax-loader {
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
  .wpcf7 form.sent .wpcf7-response-output,
  .wpcf7 form.invalid .wpcf7-response-output,
  .wpcf7 form.unaccepted .wpcf7-response-output {
    font-size: rem-calc(10px);
    margin: 20px 0 0;
    border-color: #fff;
    color: #fff;
    text-align: center;
    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }
}

.map-contact-wrap {
  padding: rem-calc(85px) 4.16666vw rem-calc(85px) 8.1944vw;
  @include media-breakpoint-down(sm) {
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    padding: rem-calc(40px 0 0);
  }
  .map-contact-main {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    @include media-breakpoint-up(md) {
      max-width: rem-calc(1263px);
      margin: 0 auto;
    }
  }
  .mpct-form {
    @include media-breakpoint-up(md) {
      -webkit-flex-basis: 48.5%;
      flex-basis: 48.5%;
      max-width: 48.5%;
      // padding: 0 rem-calc(74px 0 118px);
      padding: 0 rem-calc(74px 0 0);
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: 0 rem-calc(22px);
      -webkit-order: 2;
      -ms-order: 2;
      order: 2;
    }
    .btn-contact {
      margin-top: rem-calc(10px);
    }
  }
  .mpct-map-wrap {
    padding: 0 rem-calc(10px);
    @include media-breakpoint-up(md) {
      -webkit-flex-basis: 51.5%;
      flex-basis: 51.5%;
      max-width: 51.5%;
      // padding: 0 rem-calc(59px 0 0);
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      min-height: rem-calc(210px);
      -webkit-order: 1;
      -ms-order: 1;
      order: 1;
      margin-bottom: rem-calc(23px);
    }
    .mpct-map-inner,
    #map101 {
      height: 100%;
    }
    iframe {
      vertical-align: top;
      width: 100%;
      height: 92%;
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      @include media-breakpoint-down(sm) {
        height: 100%;
      }
    }
  }
  .section-title {
    text-align: left;
    margin-bottom: rem-calc(7.5px);
    font-size: rem-calc(20px);
    line-height: rem-calc(26px);
    @include media-breakpoint-up(md) {
      margin-bottom: rem-calc(10px);
      font-size: rem-calc(40px);
      line-height: rem-calc(52px);
      font-weight: 600;
    }
  }
  .sub-title {
    display: block;
    font-size: rem-calc(12px);
    line-height: rem-calc(18px);
    margin-bottom: rem-calc(15px);
    @include media-breakpoint-up(md) {
      font-size: rem-calc(20px);
      line-height: rem-calc(35px);
      margin-bottom: rem-calc(16px);
    }
    span {
      display: block;
    }
  }
  .custom-form {
    .form-group {
      input,
      textarea,
      .jcf-select {
        border: 1px solid #dadada;
      }
    }
    .wpcf7-not-valid-tip {
      @include media-breakpoint-down(sm) {
        font-size: rem-calc(9px);
        margin-bottom: -13px;
      }
      @include media-breakpoint-up(md) {
        font-size: rem-calc(14px);
      }
    }
  }
}

.map-contact-wrap2 {
  padding: rem-calc(29px 10px 40px);
  width: 100%;
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    max-width: rem-calc(1178px);
    padding: 85px 15px;
  }
  .map-contact-main {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @include media-breakpoint-up(md) {
      -webkit-align-items: stretch;
      align-items: stretch;
    }
  }
  .mpct-map-wrap {
    @include media-breakpoint-up(md) {
      -webkit-flex-basis: 59%;
      flex-basis: 59%;
      max-width: 59%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    .mpct-map-inner,
    #map101 {
      height: 100%;
    }
    iframe {
      vertical-align: top;
      width: 100%;
      height: 100%;
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      @include media-breakpoint-down(sm) {
        height: 100%;
        min-height: rem-calc(210px);
      }
    }
  }
  .map-contact-info-wrap {
    text-align: center;

    @include media-breakpoint-up(md) {
      -webkit-flex-basis: 41%;
      flex-basis: 41%;
      max-width: 41%;
      padding-right: rem-calc(112px);
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  .map-cnt-info-single {
    margin-bottom: rem-calc(30px);
    @include media-breakpoint-up(md) {
      margin-bottom: rem-calc(48px);
    }
  }
  .map-cnt-info-title {
    font-size: rem-calc(20px);
    line-height: rem-calc(26px);
    font-weight: 600;
    margin-bottom: rem-calc(7.5px);
    @include media-breakpoint-up(md) {
      font-size: rem-calc(32px);
      line-height: rem-calc(42px);
      margin-bottom: rem-calc(16px);
    }

    i {
      color: $primary-color;
      font-weight: 500;
      display: inline-block;
      margin-right: rem-calc(6px);
    }
  }
  .map-cnt-location {
    font-size: rem-calc(12px);
    line-height: 1.25;
    margin-bottom: rem-calc(7.5px);
    font-weight: 600;
    @include media-breakpoint-up(md) {
      font-size: rem-calc(20px);
      margin-bottom: rem-calc(15px);
    }
  }
  .map-cnt-timing {
    @include clear-list;
    font-size: rem-calc(12px);
    @include media-breakpoint-up(md) {
      font-size: rem-calc(20px);
    }
    li {
      line-height: 1.25;
      margin-bottom: rem-calc(7.5px);
      @include media-breakpoint-up(md) {
        margin-bottom: rem-calc(15px);
      }
    }
  }
  .map-cnt-info-social {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    @include media-breakpoint-down(sm) {
      margin-bottom: rem-calc(40px);
    }
    span {
      display: inline-block;
      font-size: rem-calc(20px);
      margin: 0 rem-calc(10px);
      @include media-breakpoint-up(md) {
        font-size: rem-calc(30px);
        margin: 0 rem-calc(10px);
      }
    }
    a {
      color: $primary-color;
      text-decoration: none;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      -ms-transition: color 0.3s;
      -o-transition: color 0.3s;
      transition: color 0.3s;
      &:hover {
        color: #000;
      }
    }
  }
}
